.contato {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center;
}

.ctt-row {
  display: flex;
  margin-left: 500px;
  padding-top: 200px;
}

.ctt-card {
  background-color: rgb(26, 0, 51);
  opacity: 75%;
}

Label {
  color: white;
}
