.header {
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 0 75% 0 0;
    background-color: hsla(0, 40%, 98%, 0.092);
}

.header-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    inset: 0 95% 0 0;
    background-color: hsla(0, 2%, 19%, 0.0558);
}

